{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section bg-dark text-white">
      <div class="media bg-dark text-white">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body bg-dark text-white">
          <h2 class="account-heading bg-dark text-white">{{ user.username }}</h2>
          <p class="text-secondary bg-dark text-white">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data" class="bg-dark text-white">
            {% csrf_token %}
            <fieldset class="form-group bg-dark text-white">
                <legend class="border-bottom mb-4 bg-dark text-white">
                    Account Info
                </legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group bg-dark text-white">
                <button class="btn btn-outline-info" type="submit">
                    Update
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
