{% extends "blog/base.html" %}
{% block content %}
<h1 class="bg-dark text-white" >About Page</h1>
<p class="bg-dark text-white"> This is A Django project in development. Email <i>mkpro118@gmail.com</i> with any feedback and suggestions. Thanks 😃!</p>
<div class="bg-dark text-white">
    <small class="bg-dark text-white">
        Most of this was to learn using Django. <br>
        Credit : <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/c/Coreyms"> Corey Schafer</a> <br>
        Please check him out if you'd like to learn Django and build sites like (or better) this one.
    </small>
</div>
{% endblock content %}
